@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: "Poppins", sans-serif;
}
.star-rating {
  display: inline-block;
}

.star {
  font-size: 24px;
  color: #ccc;
  display: inline-block;
}

.star.filled {
  color: gold;
}
.star-dis {
  font-size: 24px;
  color: #ccc;
  display: inline-block;
}

.star-dis.filled {
  color: gold;
}

.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  left: 0;
  width: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  z-index: 200;
}
#img1 {
  height: 500px;
}
img {
  object-fit: cover;
}
